@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background: hsl(47, 88%, 63%);
    font-family: "Figtree", serif;
    font-weight: 500;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article{
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 5px 5px black;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 15px;
    max-width: 325px;
    padding: 18px 21px 20px 21px;
}

article img{
    max-width: 100%;
    border-radius: 15px;
}

header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1{
    font-weight: 800;
    display: flex;
    order: 2; /* inverte com o h2*/
}

h1:hover{
    color:hsl(47, 88%, 63%);
    cursor: pointer;
}

article h2{
    background-color: hsl(47, 88%, 63%);
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    max-width: 100px;
    text-align: center;
}

article p{
    font-size: 1rem;
}

.bolder{
    font-weight: bolder;
}

.grey{
    color: hsl(0, 0%, 42%);
}

footer{
    display: flex;
    flex-direction: row;
}

footer img{
    max-width: 40px;
}

footer p{
    display: flex;
    margin-left: 8px;
    margin-top: 10px;
}

